body{
	width: 70%;
	margin: 0 auto;
}
table{
	border-collapse: collapse;
	width: 100%;
}
td , th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
td:first-child() {
	width: 25%;
}
tr:nth-child(even) {
	background-color: #dddddd;
}